<h3>ROICalculator TODO</h3>

<div class="panel">
  <p><input ng-model="personName"/></p>

  <p>Editable value: {{personName}}</p>

  <p>
    <editable-label value="personName" type="number"></editable-label>
  </p>
</div>

<table>
  <thead>
  <tr>
    <th width="150">no</th>
    <th width="300">name</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="item in items | paginate:perPage:currentPage">
    <td>{{$index + 1}}.</td>
    <td>{{item.name}}</td>
  </tr>
  </tbody>

  <pagination-controls collection="items" per-page="perPage" current-page="currentPage"></pagination-controls>
</table>
