<h3>Map Search</h3>
<div class="top-container clearfix">
  <div ng-controller="MapController" class="map-container">
    <google-map markers="realEstatesSrv.realEstates"></google-map>
  </div>

  <div ng-controller="DetailsController" class="details-container">
    <real-estate-details real-estate="realEstatesSrv.selectedRealEstate"></real-estate-details>
  </div>
</div>
<div ng-controller="ListController" class="list-container">
  <rm-data-table
      items="realEstatesSrv.realEstates"
      selected-item="realEstatesSrv.selectedRealEstate"
      headers="listHeaders"
      item-click="onRealEstateClick"></rm-data-table>
</div>


